<!DOCTYPE <!DOCTYPE html>

<html>

<head>
    {{> headerlinks}}
</head>

<body>

   

    <!--MAin header-->
    <div class="container-fluid main_header">
        <div class="col-md-10 col-12 main_header_left align-items-center bg-black">
            <figure class="">
                <img src="images/error.jpg" alt="404 error" class="image-fluid errorImg" title="404 error">
            </figure>
            <h1>{{errorMsg}}</h1>
            <a href="/"><button>Go Back</button></a>
        </div>
    </div>
    </div>
    </div> --}}
    </div>
    <!--Footer Code-->
    

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>

</html>