<!DOCTYPE <!DOCTYPE html>

<html>

<head>
    {{> headerlinks}}
</head>

<body>

    {{> navbar}}

    <!--MAin header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="Ak Soft" class="container-fluid" title="about">
                        </figure>

                    </div>
                    <!--right side div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <h1 class="text_color"> About Me</h1>
                        <p>My name is Akanksha Patil, I am Software Developer.</p>
                        <p>This project done in nodejs expressjs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer Code-->
    {{> footer}}

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>

</html>